#greycol {
  color: gray;
}
div > div > p {
  color: red;
}

p:last-of-type.yellow {
  color: yellow;
}
h3:first-child {
  color: pink;
}
p:not(:first-of-type) {
  color: green;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.day {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.day:hover {
  transform: translateY(-5px);
}

.day h3 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.day ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.day ul li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.monday li {
  background-color: #ffd1d1;
}
.tuesday li {
  background-color: #fdddff;
}
.wednesday li {
  background-color: #ddddff;
}
.thursday li {
  background-color: #fff0b3;
}
.friday li {
  background-color: #bcffc6;
}
